
{{!-- Formulario de registro --}}
<div class="errores " id="errores">
   
{{> showMessages messages}}
</div>

<div class="container mt-10" id="container">
  
    <div class="form-container sign-up-container mt-2">
      
    </div>

    <div class="form-container sign-in-container">
      <form method="POST" class="form" action="/crear-servicio">
        <h1 class="font-Times">Crear cuenta</h1>
     
        <input  type="text" placeholder="servicio" name="nombre">
      
        <button type="submit" class="btn  btn-rounded">Registrarse</button>
      </form>
    </div>


  </div>
  