{{!-- Formulario de inicio de sesion --}}
<div class="errores " id="errores">
   
{{> showMessages messages}}
</div>
<div class="container mt-5" id="container">
    <div class="form-container sign-in-container">
      <form method="POST" class="form" >
        <h1 class="font-weight-bold">Ingresa tu nueva contraseña</h1>
       
        
        <input name="password" type="password" placeholder="Contraseña" /value="{{password}}">
       
        
        <button type="submit" class="btn  btn-rounded ">Cambiar</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1 class="font-weight-bold">¡Hola amigo!</h1>
          <p>Ingresa aqui tu nueva contraseña  </p>
         
        </div>
      </div>
    </div>
  </div>