<div class="contacto">
        <h3 class="titulo">Enviar Correo</h3>
        <form class="formulario">
          <p class="nombre">
            <label>Nombre</label>
            <input type="text" name="nombre" required>
          </p>
          <p class="fecha">
            <label>Fecha</label>
            <input type="text" name="empresa">
          </p>
          <p class="correo">
            <label>Servicio</label>
            <input type="text" name="servicio" required>
          </p>
          <p class="telefono">
            <label>Dirección</label>
            <input type="text" name="teléfono" required>
          </p>
          <p class="full">
            <label>Mensaje</label>
            <textarea name="mensaje" required></textarea>
          </p>
          <p class="boton">
            <button class="btn "  >Enviar</button>
          </p>
        </form>
      </div>
    </div>
  </div>