{{!-- <div class="contacto"> 
        <h3 class="titulo">Enviar Correo</h3>
        <form class="formulario">
          <p class="nombre">
            <label>Nombre</label>
            <input type="text" name="nombre" required>
          </p>
          <p class="fecha">
            <label>Fecha</label>
            <input type="text" name="empresa">
          </p>
          <p class="correo">
            <label>Servicio</label>
            <input type="text" name="servicio" required>
          </p>
          <p class="telefono">
            <label>Dirección</label>
            <input type="text" name="teléfono" required>
          </p>
          <p class="full">
            <label>Mensaje</label>
            <textarea name="mensaje" required></textarea>
          </p>
          <p class="boton">
            <button class="btn "  >Enviar</button>
          </p>
        </form>
      </div>
    </div>
  </div>--}}

   <div class="formulario contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Orden</h2>
				<h4>haz tu solicitud de servicio aquí</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Nombre:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Nombre" name="nombre">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Apellido:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Apellido" name="Apellido">
				  </div>
           </div>
          	<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Fecha:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Feche" name="Fecha">
				  </div>
				</div>
        	<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Teléfono:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Teléfono" name="telefono">
				  </div>
           </div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Email" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comentario:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10"><br>
					<button type="submit" class="btn2 btn-default">Enviar</button>
							  </div>
				</div>
			</div>
		</div>
	</div>
</div>
      