{{!-- <div class="contacto"> 
        <h3 class="titulo">Enviar Correo</h3>
        <form class="formulario">
          <p class="nombre">
            <label>Nombre</label>
            <input type="text" name="nombre" required>
          </p>
          <p class="fecha">
            <label>Fecha</label>
            <input type="text" name="empresa">
          </p>
          <p class="correo">
            <label>Servicio</label>
            <input type="text" name="servicio" required>
          </p>
          <p class="telefono">
            <label>Dirección</label>
            <input type="text" name="teléfono" required>
          </p>
          <p class="full">
            <label>Mensaje</label>
            <textarea name="mensaje" required></textarea>
          </p>
          <p class="boton">
            <button class="btn "  >Enviar</button>
          </p>
        </form>
      </div>
    </div>
  </div>--}}
<div class="errores " id="errores">
   
{{> showMessages messages}}
</div>

   <div class="formulario contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Orden </h2>
				<h4>{{usuario}} , haz tu solicitud de servicio aquí</h4>
			</div>
		</div>
		
		<div class="col-md-9">
			<form method="POST"  action="/crear-orden">
			<div class="contact-form"  >
				<div class="form-group">
				  
				<div class="form-group">
				  <label class="control-label col-sm-2" for="servicio">Servicio:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="servicio" placeholder="Servicio" name="servicio">
				  </div>
				  <label class="control-label col-sm-2" for="fechaSolicitud">Fecha</label>
				  <div class="col-sm-10">          
					<input type="date" class="form-control" id="fechaSolicitud" placeholder="Fecha que requiere el servicio" name="fechaSolicitud">
				  </div>
				</div>
           </div>
          	
        	<div class="form-group ">
				  <label class="control-label col-sm-2" for="direccion">Dirección: </label>
				  <div class="row">  
				  <div class="col-sm-8">          
					<select class ="form-control" name="direccion" id="direccion">
						
						<option > Selecciona una dirección </option>
						{{#each direcciones }}
                                  <option value="{{this}}">{{this}}</option>
                         {{/each}}
					</select>
				
				  </div>
				<div class="col-sm-4" >
					 <a href="/miperfil"  class="btn2 btn-default">Más direcciones</a>
					 </div>
				 
					 </div>
           </div>
		
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Descripción:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5"  id="descripcion" name="descripcion"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10"><br>
					<button type="submit" class="btn2 btn-default">Enviar</button>
							  </div>
				</div>
			</div>
			</form>
		</div>
		
	</div>
</div>
      