

{{!-- Formulario de inicio de sesion --}}
<div class="errores " id="errores">
   
{{> showMessages messages}}
</div>
<div class="container mt-5" id="container">
    <div class="form-container sign-in-container">
      <form method="POST" class="form" action="/olvide-password">
        <h1 class="font-weight-bold">Restablece tu contraseña</h1>
       
        
        <input name="email" type="email" placeholder="Correo electrónico" />
       
        
        <button type="submit" class="btn  btn-rounded ">Restablecer</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1 class="font-weight-bold">¡Hola amigo!</h1>
          <p>Aquí puedes restablecer tu contraseña </p>
         
        </div>
      </div>
    </div>
  </div>