<div class="errores " id="errores">
   
{{> showMessages messages}}
</div>

<div class="contacto1">
        <h3 class="titulo">Agrega Imágenes de tus trabajos</h3>
        <form class="tablef" method="POST" action="/subir-trabajos"  enctype="multipart/form-data" >
        
  
          <div class="row avatar ">
            <div class="col-md-5 col-sm-5">
              
              <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-new thumbnail img-no-padding" style="max-width: 370px; max-height: 250px;">
                  
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail img-no-padding"
                  style="max-width: 370px; max-height: 250px;"></div>
                <div>
                  <span class="btn btn-outline-default btn-round btn-file">
                    <span class="fileinput-new">Selecciona imagenes</span>
                 <!--   <input type="file" name="gravatar"></span>-->
                 
                </div>
              </div>
 </div>
              </div>
              
             <p class="Labels">
            
            <br>
            <br>
            <button class="btn" type="submit">Agregar</button>
          </p>
  
       </form>
      </div>
     